@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

:root {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    rgb(166, 196, 255),
    rgb(213, 255, 230),
    rgb(255, 223, 162),
    rgb(255, 203, 202)
  );
}
:root[class="dark"] {
  body {
    background-image: linear-gradient(
      rgb(37, 0, 56),
      rgb(43, 1, 30),
      rgb(3, 49, 36),
      rgb(6, 22, 53)
    );
  }
}
